/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  --link-color: 3 95 230;
  --highlight-color: #e01f2d;
  --background-color: #fff;
  --alt-background-color: #f6f6f6;
  --text-color: #000;
  --body-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Teko', sans-serif;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  opacity: 0;
  text-align: center;
}

body.appear {
  opacity: 1;
}

header {
  height: 80px;
  max-height: 80px;
}

main {
  font-size: 1rem;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: .5em;
}

h1 { font-size: 38px }
h2 { font-size: 29px; }
h3 { font-size: 25px; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .875rem; }

em {
  font-style: normal;
  color: var(--highlight-color);
}

p, dl, ol, ul, pre, blockquote {
  max-width: 1100px;
  margin: 1em auto;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
pre,
samp {
font-family:
  'Roboto Mono',
  Menlo,
  Consolas,
  'Liberation Mono',
  monospace;
}

code, samp {
font-size: 87.5%;
padding: .125em;
}

pre {
font-size: 75%;
overflow: scroll;
}

main input, main button {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
}


main input {
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 0 2rem;
}

main pre {
  background-color: var(--text-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  width: 10%;
  border: 0;
  color: #3c3c3c;
  background: #3c3c3c;
  margin: 30px auto;
  height: 1px;
}

main img {
  max-width: 100%;
  height: auto;
}

main p.button-container {
  margin: 40px 0;
}

a.button:any-link {
  display: inline-block;
  border: solid 1px transparent;
  background-color: var(--highlight-color);
  color: var(--background-color);
  font-family: var(--heading-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0;
  text-decoration: none;
  padding: 10px 20px;
  user-select: none;
  transition:
    color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
}

a.button.light {
  font-style: normal;
  background-color: var(--text-color);
  border-color: var(--background-color);
  color: var(--background-color);
}

a.button:hover {
  background-color: var(--background-color);
  color: var(--highlight-color);
}

/* above the fold CSS goes here to squash CLS */

main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

@media (min-width:576px) {
  h1 { font-size: 60px }
  h2 { font-size: 45px }
  h3 { font-size: 33px }
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  height: 80px;
  width: 100vw;
}
